.main-body {
    height: 100%;
    background: yellow;

    padding: 1em;
    margin: 1em;
    font-family: 'Hachi Maru Pop', cursive;

}
.row{   
     background: cyan;
}

html {
    height: 100%;
    text-align: center;
}

.heading{
    font-family: 'Fruktur', cursive;
}

#inputElements {
    text-align: left;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 1em;
}
.btn{
    padding: 0.25em;
    margin: 0.5em;
}

.label-radio-container {
    padding: 10px;
}